<div class="container">
  <div *ngIf="!user" class="card text-center">
    <h6 class="card-header">Google Login</h6>
    <div>
      <div class="card-block">
        <h4 class="card-title">Not Signedin</h4>
        <p class="card-text">Signin with</p>
      </div>
    </div>
    <div class="card-block">
      <button class="btn btn-social-icon btn-google mx-1" (click)="signinWithGoogle()"[routerLink]="['/login']">Signin with google</button>
    </div>
  </div>
</div>

<div *ngIf="user" class="card text-center">
  <h6 class="card-header">Google Login</h6>
  <div class="card-block"></div>
  <img src="{{ user.photoUrl }}" class="card-img-top img-responsive photo">
  <div class="card-block">
    <h4 class="card-title">{{user.name}}</h4>
        <p class="card-text">{{user.email}}</p>
  </div>
  <div class="card-block">
    <button class="btn btn-social-icon btn-google mx-1" (click)="signOut()">SignOut</button>
  </div>
</div>